<!doctype html>

<html lang="en" ng-app="app" xmlns="http://www.w3.org/1999/html">

<head>
    <title>Team Notes</title>
    <meta charset="utf-8">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" rel="stylesheet">
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/7ffeb8118c.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

    <script src="index.js"></script>
    <script src="front.js" type="text/javascript"></script>
    <link href="style.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css" rel="stylesheet">
</head>

<body ng-if="isFounded || isFounded==null" class="d-flex flex-column" ng-controller="indexController">
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
    </symbol>
    <symbol fill="currentColor" id="info-fill" viewBox="0 0 16 16">
        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
    </symbol>
    <symbol fill="currentColor" id="exclamation-triangle-fill" viewBox="0 0 16 16">
        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </symbol>
    <symbol id="remove-user" fill="currentColor" viewBox="0 0 16 16">
        <path fill-rule="evenodd"
              d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6.146-2.854a.5.5 0 0 1 .708 0L14 6.293l1.146-1.147a.5.5 0 0 1 .708.708L14.707 7l1.147 1.146a.5.5 0 0 1-.708.708L14 7.707l-1.146 1.147a.5.5 0 0 1-.708-.708L13.293 7l-1.147-1.146a.5.5 0 0 1 0-.708z"/>
    </symbol>
</svg>
<div class="header bg-dark unselectable d-flex align-items-center flex-wrap">
    <div class="main_header text-light m-2 text-center align-middle">Team Notes</div>
    <div class="vl"></div>
    <div class="dropdown d-flex items-align-center m-2">
        <button class="button-simple-style dropdown-button dropdown-toggle" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
            Boards
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li>
                <button class="button-no-style w-100" type="button"
                        onclick="showStuff('boards_block',true);showStuff('notes_block',false)">Your Boards
                </button>
                <hr class="m-2">
            </li>

            <li ng-repeat="board in Boards"><a class="link_button m-2"
                                               ng-click="fillBoardWithNotes(board)"
                                               onclick="showStuff('boards_block',false);showStuff('notes_block',true)"
                                               title="{{board.name}}"
                                               type="button">{{board.name}}</a>
            </li>
        </ul>
    </div>
    <!--create board button-->
    <button class="button-simple-style m-2" data-bs-target="#addBoard" data-bs-toggle="modal" id="addBoardButton"
            onclick="showStuff('boards_block',true);showStuff('notes_block',false)" title="Create a new board"
            type="button">
        <span>Create</span>
        <i class="bi bi-plus-square fa-lg"></i>
    </button>
    <!--    -->
    <div class="vl"></div>
    <div class="d-flex flex-grow-1 justify-content-end align-items-center" style="margin-right: 2px">
        <span class="text-white">{{user.username}}</span>
        <a class="button-simple-style m-2" href="/team-notes/logout">
            <span>Sign out</span>
            <i class="bi bi-box-arrow-right fa-lg"></i>
        </a>
    </div>
</div>
<div class="pl-4 d-flex flex-wrap bg-secondary unselectable">

    <!--    old style (button for each board with acronym names) -->
    <!--    <div class="d-flex align-items-center btn-group btn-group-toggle" ng-repeat="board in Boards">-->
    <!--        <a class="link_button circle bg-light rounded m-2 align-self-center align-items-center d-flex"-->
    <!--           type="button" onclick="showStuff('boards_block',false);showStuff('notes_block',true)"-->
    <!--           ng-click="fillBoardWithNotes(board)" title="{{board.name}}">-->
    <!--            <label class="fake_label unselectable"><input type="text" class="fake-input user-select-none unselectable"-->
    <!--                                                          ng-value="acronym(board.name,3)" disabled>-->
    <!--            </label>-->

    <!--        </a>-->
    <!--    </div>-->
</div>
<!-- container for notes or boards -->
<div class="notes d-flex bg-easy">
    <div class="container">

        <div ng-show="user.isVerified === false" class="alert alert-warning d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:">
                <use xlink:href="#exclamation-triangle-fill"/>
            </svg>
            <div>Your email is not confirmed! If you don't confirmed email within 30 days, your account will be blocked.</div>
        </div>
        <div class="notes_block row">
            <div class="board-header text-light p-1 d-flex justify-content-between align-items-center">
                <h4 class="ms-2">{{currentBoard.name}}</h4>
                <div ng-repeat="u in Users">
                    <span>{{u.email}}</span>
                </div>
                <button class="btn text-white" data-bs-target="#addUser" data-bs-toggle="modal" type="button">
                    <i class="bi bi-person-lines-fill fa-lg"></i>
                </button>
            </div>
            <div class="d-flex align-items-center w-100%">
                <span class="me-1 fs-4">Notes</span>
                <button class="btn" data-bs-target="#addNote" data-bs-toggle="modal" ng-click="newNote = {priority:3}"
                        ng-show="isAllowed(0)"
                        type="button">
                    <i class="bi bi-plus-square fa-2x fw-bold"></i>
                </button>
                <div class="dropdown ms-auto">
                    <button aria-expanded="false" class="btn"
                            data-bs-toggle="dropdown"
                            id="sorting" type="button">
                        sort by
                        <i class="bi bi-filter-square fa-lg"></i>
                    </button>
                    <ul aria-labelledby="sorting" class="dropdown-menu">
                        <li ng-repeat="property in SortProperties"><button class="btn w-100 m-0 p-0" ng-click='sortNotes(property)'>
                            {{property}}<span class="sort-order ms-1" ng-show="property === propertyName" ng-class="{reverse: reverse}"></span></button></li>
                    </ul>
                </div>
            </div>


        </div>

        <!--      boards from database          -->
        <div class="boards_block row">
            <div class="d-flex align-content-start flex-wrap">
                <div id="boards-from-database" ng-repeat="board in Boards">
                    <div class="board rounded mb-3 m-2">
                        <form name="boardForm" ng-init="updatingBoard = {board}" ng-submit="updateBoard(board)"
                              novalidate>
                            <div class="margin-top border-bottom input_group bg-primary bg-opacity-5 text-white rounded-15 p-1 d-flex align-items-center">
                                <input class="pl-5 input-header" ng-init="board.name" ng-model="board.name"
                                       required
                                       title="{{board.name}}" type="text"/>
                                <div class="d-flex align-items-center ms-auto">
                                    <button aria-label="Edit" class="btn p-2" ng-click="editBoard(board.id)"
                                            type="button">
                                        <!--                                        <i class="fas fa-edit"></i>-->
                                    </button>
                                    <button aria-label="Delete" class="btn p-2" ng-click="deleteBoard(board.id)"
                                            type="button">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="m-1">
                                <textarea class="form-control" ng-init="board.description" ng-model="board.description"
                                          required></textarea>
                            </div>
                            <div class="d-flex align-items-center">
                                <button class="btn m-1" ng-click="fillBoardWithNotes(board)"
                                        onclick="showStuff('boards_block',false);showStuff('notes_block',true)"
                                        type="button">Select
                                    <i class="fas fa-hand-pointer fa-lg"></i>
                                </button>
                                <button class="btn m-1" ng-style="{'display': boardForm.$pristine|| boardForm.$invalid || (board.name == '{{board.name}}' && board.description == '{{board.description}}')
                                        ? 'none' : 'block'}"
                                        type="submit">Update
                                    <i class="far fa-check-square fa-lg"></i>
                                </button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--end -- board from database-->
        <!--      notes from database          -->
        <div class="notes_block row">
            <div class="d-flex align-content-start flex-wrap d-flex justify-content-center">
                <div class="notes-from-database" ng-repeat="n in Notes | orderBy:propertyName:reverse">
                    <div class="note rounded mb-3 m-2 pb-1">
                        <form name="noteForm" ng-init="updatingNote = {n}" ng-submit="updateNote(n)" novalidate>
                            <div class="margin-top border-bottom input_group text-white rounded-15 d-flex align-items-center"
                                 ng-style="{'background-color':n.color}">
                                <input class="input-header py-2" ng-init="n.header" ng-model="n.header" readonly
                                       type="text"/>
                                <div class="d-flex align-items-center ms-auto" ng-show="isAllowed(0)">
                                    <button aria-label="Edit" class="btn p-2" data-bs-target="#addNote" data-bs-toggle="modal" ng-click="setNote(n)"
                                            ng-show="isAllowed(0)"
                                            type="button">
                                        <i class="fas fa-edit"></i>
                                    </button>
                                    <button aria-label="Favorite" class="btn p-2" ng-click="n.isFavorite = !n.isFavorite; updateNote(n)"
                                            type="button">
                                        <i class="bi" ng-class="{'bi-star':!n.isFavorite,'bi-star-fill':n.isFavorite}"></i>
                                    </button>
<!--                                    <div class="me-1 priority-buttons-block">-->
<!--                                        <button aria-label="PriorityUp" class="btn p-0 row priority-button" ng-click="priorityUp(n)"-->
<!--                                                type="button">-->
<!--                                            <i class="bi bi-chevron-compact-up p-0 fa-xs"></i>-->
<!--                                        </button>-->
<!--                                        <button aria-label="PriorityDown" class="btn p-0 row priority-button" ng-click="priorityDown(n)"-->
<!--                                                type="button">-->
<!--                                            <i class="bi bi-chevron-compact-down p-0 fa-xs"></i>-->
<!--                                        </button>-->
<!--                                    </div>-->
<!--                                    <span class="priority-value text-dark fw-bold fs-4" name="priority" ng-model="newNote.priority">{{n.priority}}</span>-->
<!--                                    <div class="dropdown ms-2">-->
<!--                                        <button aria-expanded="false" class="btn p-0"-->
<!--                                                data-bs-toggle="dropdown"-->
<!--                                                id="{{'opt'+ n.id}}" type="button">-->
<!--                                            <i class="bi bi-paint-bucket fa-lg"></i>-->
<!--                                        </button>-->
<!--                                        <ul aria-labelledby="{{'opt'+ n.id}}" class="dropdown-menu">-->
<!--                                            <li ng-repeat="c in Colors" ng-style="{'background-color':c.colorHex}">-->
<!--                                                <button class="btn w-100 m-0 p-0" ng-click="setColor(n, c.colorHex)">-->
<!--                                                    {{c.description}}-->
<!--                                                </button>-->

<!--                                            </li>-->
<!--                                        </ul>-->
<!--                                    </div>-->
                                    <button aria-label="Delete" class="btn p-2" ng-click="deleteNote(n.id)"
                                            type="button">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </div>

                            </div>
                            <div class="m-1 d-flex">
                                <textarea class="form-control note-text" ng-init="n.content" ng-model="n.content"
                                          readonly onmouseenter="auto_grow(this)"
                                          onmouseleave="auto_shrink(this)" required></textarea>
                            </div>
                            <div class="d-flex flex-wrap" id="{{'checklist-'+n.id}}">

                            </div>
                            <div class="margin-bottom m-2 font-weight-light small"><i
                                    class="bi bi-cloud-plus mx-1 fa-lg"></i>{{n.createDate}}<i
                                    class="bi bi-arrow-clockwise mx-1 fa-lg"></i>{{n.lastModifiedDate}}
                            </div>
                            <button class="btn m-1" ng-style="{'display': (noteForm.$pristine|| noteForm.$invalid || (n.header == '{{n.header}}' && n.content == '{{n.content}}')) && isPriorityValid('{{n.priority}}', n)
                                        ? 'none' : 'block'}"
                                    type="submit">Update
                                <i class="far fa-check-square fa-lg"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--modal window for adding board-->
<div class="modal hide" id="addBoard" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <form id="formBoard" name="boardForm" ng-submit="saveBoard()" novalidate>
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create new board</h5>
                    <button aria-label="Close" class="close btn p-2" data-bs-dismiss="modal" type="button">
                        <i class="far fa-window-close fa-lg"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <input class="form-control mb-2" ng-model="newBoard.name" placeholder="board header..."
                           required type="text">
                    <textarea class="form-control" ng-model="newBoard.description"
                              oninput="auto_grow(this)" placeholder="board description..." type="text"></textarea>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal" id="closeCreateBoardButton" type="button">
                        Close
                    </button>
                    <button class="btn btn-primary m-1" id="createBoardButton" ng-disabled="boardForm.$invalid"
                            onsubmit="showStuff('boards_block',false);showStuff('notes_block',true)"
                            type="submit">Create
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal" id="addNote" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <form name="noteForm" ng-submit="saveNote()" novalidate>
            <div class="modal-content">
                <div class="modal-header d-flex align-items-center" ng-style="{'background-color':newNote.color}">
                    <input class="form-control" ng-model="newNote.header" placeholder="Note header..."
                           required type="text">
                    <button aria-label="Close" class="close btn px-2" data-bs-dismiss="modal" type="button">
                        <i class="far fa-window-close fa-lg"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <h6 class="modal-title">Text</h6>
                    <textarea class="form-control note-text" ng-model="newNote.content"
                              oninput="auto_grow(this)" placeholder="type your thoughts..." required
                              type="text"></textarea>
                    <div class="d-flex align-items-center">
                        <i class="bi bi-paint-bucket fa-2x mt-1"></i>
                        <button class="btn color-button mt-2 me-1" ng-click="setColor(newNote,c.colorHex)"
                                ng-model="newNote.color"
                                ng-repeat="c in Colors" ng-style="{'background-color':c.colorHex}"
                                type="button">
                        </button>
                    </div>
                    <div class="d-flex align-items-center">
                    <div class="priority d-flex align-items-center">
                        <span class="modal-title me-1 fw-bold fs-6">Priority: </span>
                        <div class="me-1 priority-buttons-block">
                            <button aria-label="PriorityUp" class="btn p-0 row priority-button" ng-click="priorityUp(newNote)"
                                    type="button">
                                <i class="bi bi-chevron-compact-up p-0 fa-xs"></i>
                            </button>
                            <button aria-label="PriorityDown" class="btn p-0 row priority-button" ng-click="priorityDown(newNote)"
                                    type="button">
                                <i class="bi bi-chevron-compact-down p-0 fa-xs"></i>
                            </button>
                        </div>
                    </div>
                        <div class="priority-value text-dark fw-bold fs-5" >
                            {{newNote.priority}}</div>
                    </div>
                    <button aria-label="Checklist" class="btn p-2" ng-click="addChecklist('checklist-'+ n.id)"
                            type="button">
                        Add checklist<i class="bi bi-list-check fa-lg ms-1"></i>
                    </button>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal" id="closeNoteButton" type="button">Close
                    </button>
                    <button class="btn btn-primary" id="createNoteButton" ng-disabled="noteForm.$invalid" type="submit">
                        Confirm
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal" id="addUser" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <form id="addUserForm" name="addUserForm" ng-submit="addUser()" novalidate>
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Manage users</h5>
                    <button aria-label="Close" class="btn p-2" data-bs-dismiss="modal" type="button">
                        <i class="far fa-window-close fa-lg"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <h6 class="">Invite users</h6>
                    <div class="d-flex align-items-center mb-2">
                        <input class="form-control me-2" id="userEmail" ng-change="findUser(invitedUser.email)"
                               ng-model="invitedUser.email"
                               ng-model-options="{debounce:500}" ng-required="true"
                               placeholder="User email..." type="email">
                        <div>
                            <button class="btn btn-primary" id="inviteUserButton"
                                    ng-disabled="!isFounded || !addUserForm.$valid"
                                    type="submit">Invite
                            </button>
                        </div>
                    </div>

                    <div class="alert alert-success d-flex align-items-center role" ng-show="isFounded">
                        <svg aria-label="Success:" class="bi flex-shrink-0 me-2" height="24" role="img" width="24">
                            <use xlink:href="#check-circle-fill"/>
                        </svg>
                        <div class="me-1">{{foundUser.email}} is found</div>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <div>
                            <h6>Active users</h6>
                        </div>
                        <div class="right_label">
                            <h6>Rights</h6>
                        </div>
                    </div>
                    <div class="board_user d-flex justify-content-between align-items-center mb-1"
                         ng-repeat="u in Users">
                        <div class="d-flex align-items-center">
                            <span class="mr-10">{{u.email}}</span>
                        </div>
                        <div class="d-flex align-items-center" ng-hide="u.email == user.email">
                            <button aria-label="remove" class="btn p-2" ng-click="removeUser(u)" type="button">
                                <svg aria-label="Success:" class="bi flex-shrink-0 me-2" height="24" role="img"
                                     width="24">
                                    <use xlink:href="#remove-user"/>
                                </svg>
                            </button>
                            <select aria-label="Default select example" class="form-select float-right">
                                <option selected value="1">Reader</option>
                                <option value="2">Writer</option>
                                <option value="3">Manager</option>
                            </select>
                            <!--                            <label>-->
                            <!--                                <select ng-options="rt in RoleTypes" class="form-select float-right" ng-model=""></select>-->
                            <!--                            </label>-->
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal" id="closeUserButton" type="button">Close
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<script crossorigin="anonymous"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js">
</script>
</body>


</html>