textarea {
    resize: none;
    overflow: hidden;
    min-height: 50px;
    max-height: 100px;
}
html{
    height: 100%;
}
body {
    min-height: 100%;
}

.notes {
    min-height: 95vh;
}

.note:hover, .board:hover {
    box-shadow: 3px 3px 4px 4px rgba(0, 70, 130, .5);
}

.note, .board {
    width: 361px;
    width: 361px;
    box-shadow: 1px 1px 2px 2px rgba(0, 114, 207, .5);
    background: rgb(235, 235, 245);
}

.row {
    margin: auto;
    width: 100%;
}

.circle {
    width: 50px;
    height: 25px;
}

#add_new_note, .notes_block {
    display: none;
}

.boards_block {
    display: none;
}

.input-header[type="text"] {
    padding-left: 15px;
    flex: fit-content;
    font-weight: bold;
}

.link_button {
    display: block;
    cursor: pointer;
    color: black;
    text-decoration: none;
    font: small-caps bold 15px/1 sans-serif;
}

.link_button:hover {
    text-shadow: 2px 2px 5px 5px rgba(0, 70, 130, .5);
    position: relative;
}

.main_header {
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    font: small-caps bold 20px/1 sans-serif;
    /*height: 20px;*/
}

.text-dec {
    text-decoration: none;
}

.container {
    max-width: 100%;
    padding: 0;
}

.fake-input:disabled {
    cursor: pointer;
    background: transparent;
}

.fake-input {
    width: 50px;
    z-index: 1;
    text-align: center;
    font: small-caps bold 15px/1 sans-serif;
    background: transparent;
}

.fake_label:after {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    content: "";
    background: transparent;
    width: 50px;
    height: 50px;
    display: block;
    z-index: 999;
}

input, textarea {
    background: transparent;
    border: none;
}

.button-no-style, .input-no-style[type="submit"], .input-no-style[type="reset"] {
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    text-decoration: none;
}

.button-simple-style span, .button-no-style span {
    padding: 5px;
}

.button-simple-style i, .button-no-style i {
    padding-right: 5px;
}

.button-no-style:hover {
    background: rgb(50, 50, 50) none;
    color: whitesmoke;
}

.btn:hover {
    color: rgb(0, 255, 123);
}

.button-simple-style {
    background: linear-gradient(90deg, #212529 0%, rgb(79, 67, 90) 40%, #212529 100%);
    display: block;
    border: none;
    color: white;
    padding: 3px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    text-decoration: none;
}

.button-simple-style:hover {
    background: linear-gradient(90deg, #212529 0%, rgb(154, 88, 184) 40%, #212529 100%);
    color: white;
}

.dropdown-button {
    color: whitesmoke;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.bg-easy {
    background: rgb(225, 225, 225);
}

.small-button {
    height: 30px;
    width: 30px;
}

.vl {
    height: 80%;
    border: 1px solid rgb(50, 50, 50);
}

.header {
    box-shadow: 0 2px 7px 0 rgb(27 2 104);
    order: 0;
    height: 5vh;
    position: relative;
    z-index: 10;
}

.ng-disable {
    visibility: hidden;
}

.form-select {
    width: 110px;
    display: inline;
}

.right_label {
    width: 110px;
}

.form-error input.ng-invalid {
    border-color: red;
}

.error-messages {
    color: red;
}

.valid-form {
    /*border-color: green;*/
}

.invalid-form {
    border-color: red;
}

.check {
    color: green;
    font-size: 25px;
    margin-left: 10px;
}

.dropdown-menu {
    box-shadow: 1px 1px 4px 4px rgba(0, 89, 162, 0.73);
}

.dropdown {
    display: block;
}

.note-text {
    /*word-wrap:break-word;*/
    height: 100px;
    min-height: 100px;
    max-height: 300px;
    overflow-y: scroll;
}

.color-button {
    height: 40px;
    width: 40px;
}

textarea::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

textarea::-webkit-scrollbar-thumb {
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.1);
    /*background-color: #abc7ec;*/
    background: rgb(177, 122, 181);
    background: linear-gradient(rgb(177, 122, 181) 0%, rgb(129, 198, 148) 55%, rgb(134, 201, 224) 100%);
}

.board-header {
    background: #454a83;
    background: linear-gradient(90deg, rgb(127, 93, 133) 0%, rgb(99, 131, 105) 40%, rgb(113, 152, 169) 100%);
}

.promo-content {
    width: 100%;
}

.demo_wrap {
    width: 100%;
    height: 100vh;
    position: relative;
    background: #5C97FF;
    overflow: hidden;
}

.demo_wrap h1 {
    height: auto;
    width: 100%;
    position: relative;
    z-index: 2;
}

/* You could use :after - it doesn't really matter */
.demo_wrap:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.4;
    background-image: url(/team-notes/image/promo.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}

.promo-signup {
    width: 100%;
    position: relative;
}

.promo-image {
    width: 100%;
    height: auto;
}

.signup-over-image {
    position: absolute;
    padding: 15px;
    font-weight: bold;
    font-size: large;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.promo-container {
    height: 100vh;
}
.priority-buttons-block{
    width: 12px;
    max-height: 40px;
}
.priority-button{
    max-height: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sort-order:after {
    content: '\25b2';   // BLACK UP-POINTING TRIANGLE
}
.sort-order.reverse:after {
    content: '\25bc';   // BLACK DOWN-POINTING TRIANGLE
}
#hideAll {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #2b2b2b;
    z-index: 99;

}